.footer {
  padding: 120px 24px 40px;
  text-align: center;
  max-width: 900px;
  margin: 0 auto;
}

.credit {
  font-family: var(--font-mono);
  font-size: var(--font-size-mono);
  color: var(--white);
  margin-bottom: 12px;
}

.email {
  font-family: var(--font-mono);
  font-size: var(--font-size-mono);
  margin-bottom: 32px;
}

.copyright {
  font-family: var(--font-mono);
  font-size: var(--font-size-mono);
  color: var(--white);
  opacity: 0.5;
  margin-top: 32px;
}
